.side_bar
  .header
    .header__name
      %b aaaaaa
    .header__icon
      =link_to '#' do
        = icon('fas', 'edit')
      =link_to '#' do
        = icon('fas', 'cog')

  .contents
    .group
      .group__name
        %b グループ名
      .group__message
        %b 新着メッセージ
    .group
      .group__name
        %b グループ名
      .group__message
        %b 新着メッセージ
    .group
      .group__name
        %b グループ名
      .group__message
        %b 新着メッセージ